<!-- TODO: 自动从git上拉取 -->
<!-- TODO: 版本控制 -->
<!-- TODO: example title 和 desc 优化 ，支持不写title 和 desc-->
<!-- TODO: iframe 高度用户指定 -->
<!-- TODO: 通用 example 实现 -->
<!-- TODO: 文档 封面 -->
<!-- TODO: 菜单排序自定义 ✅-->
<!-- TODO: example 支持在其他页面中打开 -->
<!-- TODO: example 支持编辑和预览 -->
<!-- FIXME: 文件名必须为变量名的bug 导致非法变量名的出现  ✅ -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= title %></title>
        <link rel="stylesheet" href="./normal.css">
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" href="./highlight.css">
    </head>
    <body>
        <div id="app">
            <div class="page-header">
                <div class="page-inner">
                    <div class="page-title">
                        <%= title %>
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="page-inner">
                    <nav class="menu">
                        <!-- 第一级菜单 -->
                        <ul>
                            <li v-for="item in menu">
                                <a v-if="item.href==='javascript:;'" href="javascript:;" class="menu-title" @click="changePath(item.href)">{{item.title}}</a>
                                <router-link v-else :to="item.href" class="menu-title" exact>{{item.title}}</router-link>
                                <!-- 第二级菜单 -->
                                <ul v-if="item.menu">
                                    <li v-for="item in item.menu">
                                        <a v-if="item.href==='javascript:;'" href="javascript:;" class="menu-title" >{{item.title}}</a>
                                        <router-link
                                            v-else
                                            :to="item.href"
                                            class="menu-title"
                                        >{{item.title}}</router-link>
                                        <!-- 第三级菜单 -->
                                        <ul v-if="item.menu">
                                            <li v-for="item in item.menu">
                                                <a v-if="item.href==='javascript:;'" href="javascript:;" class="menu-title" >{{item.title}}</a>
                                                <router-link v-else :to="item.href" class="menu-title">{{item.title}}</router-link>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="content">
                        <section class="markdown">
                            <router-view></router-view>
                        </section>
                    </div>
                </div>
            </div>
            <div class="page-footer">

            </div>
        </div>
        <script src="/vue.js" charset="utf-8"></script>
        <script src="/vue-router.js" charset="utf-8"></script>
        <script src="/example.js" charset="utf-8"></script>
        <script src="/example-new.js" charset="utf-8"></script>
        <script src="/pages.js" charset="utf-8"></script>
        <script src="/routes.js" charset="utf-8"></script>
        <script src="/menu.js" charset="utf-8"></script>
        <script type="text/javascript">
            // vue router
            const router = new VueRouter({
                routes, // （缩写）相当于 routes: routes
                // mode: 'history'
                linkActiveClass: 'menu-title--active',
            });

            const app = new Vue({
                router,
                data: {
                    menu
                }
            }).$mount('#app')
        </script>
    </body>
</html>
